
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###< lexik/jwt_authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt_authentication-bundle ###